version: '3'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      # KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1


  backend:
    build:
      context: .
      dockerfile: Dockerfile

    image: kafka_test:latest
    container_name: kafka
    
    ports:
      - "8000:8000"
    
    depends_on:
      - kafka
      - zookeeper
    
    # command: ["uvicorn","app.server:app","--port","8000"]
    command: >
      sh -c "./wait-for-it.sh kafka:29092 -- uvicorn app.server:app --host 0.0.0.0 --port 8000"



  consumer:
    container_name: consumer
    build:
      context: .
      dockerfile: Dockerfile.consumer
    image: consumer:latest
    command: ["python3" ,"-m", "kafka_consumer"]
    depends_on:
      - kafka
    # command: >
    #   sh -c "./wait-for-it.sh kafka:29092 -- python3 -m kafka_consumer"
    
    # profiles: ["consumer"]
